body {
    font-family: lato;
    background-color: #f2f2f2;
}

.active {
    background-color: black;
    border: 2rem black;
    color: white;
}

.img__discord {
    background: url('./components/project/img/discord.svg') no-repeat center;
    background-color: #020202
}

.img__telegram {
    background: url('./components/project/img/telegram.svg') no-repeat center;
    background-color: #020202
}

.img__enews {
    background: url('./components/project/img/enews.svg') no-repeat center;
    background-color: #020202
}

.img__personal {
    background: url('./components/project/img/logo.svg') no-repeat center;
    background-color: #020202
}

.project {
    background: #060606a7;
}